output/
notes/
.DS_Store
asp/.DS_Store
modules/.DS_Store
text/presentation.aux
text/presentation.log
text/presentation.nav
text/presentation.out
text/presentation.snm
text/presentation.synctex.gz
text/presentation.toc
text/reports/main.aux
text/reports/main.bcf
text/reports/main.log
text/reports/main.run.xml
text/reports/main.synctex.gz
text/presentation/main.aux
text/presentation/main.log
text/presentation/main.nav
text/presentation/main.out
text/presentation/main.snm
text/presentation/main.synctex.gz
text/presentation/main.toc
tmp/
asp/__pycache__/
tmp/frames/
modules/__pycache__/dirs.cpython-310.pyc
modules/__pycache__/save.cpython-310.pyc
envs/.DS_Store
